@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes heartbeat {
  0% { transform: rotate(0); }
  10% { transform: rotate(20deg); }
  20% { transform: rotate(-18deg); }
  30% { transform: rotate(16deg); }
  40% { transform: rotate(-14deg); }
  50% { transform: rotate(12deg); }
  60% { transform: rotate(-10deg); }
  70% { transform: rotate(8deg); }
  80% { transform: rotate(-6deg); }
  90% { transform: rotate(4deg); }
  100% { transform: rotate(0); }
}

.animate-heartbeat:hover {
  animation: heartbeat 2s ease-in-out;
  transform-origin: 50% 50%; 
}